<div *ngIf="patient !== undefined">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <h1 class="col text-center m-0">{{patient.name}} {{patient.surname}}</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-lg-3 offset-1">
          <div class="row"><button class="btn btn-outline-primary btn-lg btn-block" routerLink="/patient-style/{{patient.id}}">Configuration apparence</button></div>
          <br><div class="row"><button class="btn btn-outline-secondary btn-lg btn-block" routerLink="/patient-infos/{{patient.id}}">Informations patient</button></div>
          <br><div class="row"><button class="btn btn-outline-primary btn-lg btn-block" routerLink="/patient-space/{{patient.id}}">Espace Patient</button></div>
          <br><div class="row"><button class="btn btn-outline-secondary btn-lg btn-block" routerLink="/patient-stat/{{patient.id}}">Statistiques</button></div>
          <br><div class="row"><button class="btn btn-outline-primary btn-lg btn-block" routerLink="/patient-quiz/{{patient.id}}">Gestion Quiz Patient</button></div>
          <br><br>
          <div  class="row"><button [ngStyle]="{'color':'white'}" class="btn btn-dark btn-block" routerLink="/patient-list">Retour</button></div>
        </div>
        <div class="col-lg-4 offset-3">
          <div class="card mt-lg-0">
            <div class="card-header">
              <div class="row">
                <h2 class="col text-center m-0">{{patient.name}} {{patient.surname}}</h2>
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-center mb-2" style="height: 350px" *ngIf="patient.urlImg.length > 0">
                <img src="{{patient.urlImg}}" alt="Image patient" class="h-100 col-lg-10 img-thumbnail" style="max-width: 350px;">
              </div>
              <div class="row justify-content-lg-center">
                {{getAge(patient)}} ans
              </div>
              <div class="row justify-content-lg-center">
                Quiz favoris :
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

