$couleur : var(--couleur);
$bodyCouleur : var(--bodyCouleur);
$heightPolice : var(--heightPolice);

.mat-typography {
  background-color: $bodyCouleur !important;
}

#test :not(button){
  color: $couleur;
}

 #quiz, h1, h2 {
  font-size: $heightPolice !important;
  line-height: $heightPolice !important;
}
