<div id="test" *ngIf="quiz !== undefined && patient !== undefined">
  <div class="row mr-0 ml-0 mt-3 text-center">
    <h1 class="title_quiz col mt-2">{{quiz.name}}</h1>
  </div>
  <div id="quiz" class="container-fluid m-0 justify-content-center h-100">
        <app-question-play class="row justify-content-center" [questionFinished]="questionFinished" [question]="quiz.questions[index]" [patient]="patient" [quiz]="quiz" [index]="index" (nextQuestionAuto)="nextQuestionAuto($event)" (wrongAnswer)="wrongAnswer($event)"></app-question-play>
        <div *ngIf="displayTimer" id="timer" class="row justify-content-center mb-2">
          <p *ngIf="index < quiz.questions.length -1; else ElseT">
            Prochaine question dans :
          </p>
          <ng-template #ElseT>
            Fin du quiz dans :
          </ng-template><p> {{s}}s !</p>
        </div>
        <div class="row justify-content-center" *ngIf="wrongA">
          <p>Les réponses grisées sont fausses !</p>
        </div>
        <div class="row justify-content-center">
          <button *ngIf="index < quiz.questions.length - 1; else Else" class="btn btn-primary col-lg-3" (click) = "nextQuestion()">Suivant</button>
          <ng-template #Else>
            <button id="button-end" (click) = 'endQuiz()' class="btn btn-success col-lg-3" routerLink="/patient/{{patient.id}}/play-quiz/{{quiz.id}}/success-page" style="visibility: hidden">Terminer</button>
          </ng-template>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-danger col-lg-2  mt-2" (click)="updateStats()" routerLink="/patient-space/{{patient.id}}">Quitter</button>
        </div>
  </div>
</div>
