<div *ngIf="patient !== undefined">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <h1 id="recup" class="col-lg-4">{{patient.name}} {{patient.surname}}</h1>
        <button class="btn btn-outline-dark col-lg-2 offset-4" style="max-height: 48px" routerLink="/patient-profile/{{patient.id}}">Retour Patient</button>
        <div class="col" style="font-size: 25px; padding-top: 10px; text-align: end;">Espace Admin <i class="fas fa-user-shield"></i></div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div *ngIf="patient.urlImg.length > 0">
            <div class="col-lg-12 mb-lg-2"><img src="{{patient.urlImg}}" alt="Image patient" class="img-thumbnail"></div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card m-3">
            <div *ngFor="let QS of stat">
              <div class="row justify-content-center">
                <h1> Nom du quiz : {{this.nomById(QS.quizId)}}</h1>
              </div>
              <div class="row justify-content-center">
                <h2> Nombre de quiz fois terminés : {{QS.nbQuizDone}}</h2>
              </div>
              <div class="row justify-content-center">
                <h2> Nombre de quiz fois tentés : {{QS.nbQuizTry}}</h2>
              </div>
              <div *ngIf="QS.nbQuizTry !== 0" class="row justify-content-center">
                <h2> Soit un total de réussite de : {{round(QS.nbQuizDone / QS.nbQuizTry*100)}} %</h2>
              </div>
              <div *ngIf="QS.nbQuizTry == 0" class="row justify-content-center">
                <h2> Soit un total de réussite de : 0 %</h2>
              </div>
              <div class="row justify-content-center">
                <h2> Nombre de cliques à côtés : {{QS.nbMissClick}}</h2>
              </div>
              <div class="row justify-content-center">
                <h2> Nombre de réponses justes : {{QS.nbGoodAnswer}}</h2>
              </div>
              <div *ngIf="QS.nbGoodAnswer !== 0 || QS.nbWrongAnswer !== 0" class="row justify-content-center">
                <h2> Soit un total de : {{round(QS.nbGoodAnswer / (QS.nbGoodAnswer + QS.nbWrongAnswer) *100 )}}%</h2>
              </div>
              <div *ngIf="QS.nbGoodAnswer == 0 && QS.nbWrongAnswer == 0" class="row justify-content-center">
                <h2> Soit un total de : 0 %</h2>
              </div>
              <br>
            </div>
          </div>
          <div class="row justify-content-center">
            <h2> Nombre de quiz réalisés : {{nbTotDone}}</h2>
          </div>
          <div class="row justify-content-center">
            <h2> Pourcentage de bonnes réponses : {{round(nbTotGoodAnswer/nbTotAnswer*100)}}%</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
