<div *ngIf="patient !== undefined">
  <div class="card m-3">
    <div class="card-header">
     <div class="row p-0">
      <h2 class = "col-lg-3">Gestion Quiz</h2>
      <button type="submit" class="btn btn-outline-dark col-lg-2 offset-7" routerLink="/patient-list">Retour Accueil</button>
     </div>
    </div>
  <div class="card-body">
    <div class="quiz-list">
      <div class="row">
        <div class="quiz card col-lg-3 p-0" *ngFor="let quiz of quizList">
          <h2 class = "card-header text-center">{{quiz.name}}</h2>
          <div class="card-body">
            <app-quiz [quiz]="quiz"></app-quiz>
            <div class="row justify-content-lg-center">
              <div class="col-lg-auto"><button class="btn" routerLink="/patient/{{patient.id}}/play-quiz/{{quiz.id}}">Play</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

