$heightTitle : var(--heightTitle);

a {
  min-width: 20%;
  border: solid 1px;
  border-radius: 15px;
  cursor: pointer;
}

a:hover {
  background-color: #fff7f7;
}

h2 {
    font-size: $heightTitle;
    line-height: $heightTitle;
}
