<div *ngIf="patient !== undefined">
  <div class="card m-3">
    <div class="card-header">
     <div class="row p-0">
       <h2 class = "col-lg-3">Gestion Quiz</h2>
       <button type="submit" class="btn btn-outline-dark col-lg-2 offset-5" (click)="openPop()">Retour Espace Admin</button>
       <div class="col" style="font-size: 25px; padding-top: 10px; text-align: end;">Espace Patient <i class="fas fa-user"></i></div>
     </div>
    </div>
    <div class="card-body">
      <div class="quiz-list">
        <div class="row">
          <div class="quiz card col-3 p-0" *ngFor="let quiz of quizList">
            <div class="card-header">
              <div class="row">
                <h2 class="col text-center m-0">{{quiz.name}}</h2>
              </div>
            </div>
            <div class="card-body">
              <app-quiz [quiz]="quiz"></app-quiz>
              <div class="row justify-content-lg-center">
                <div class="col-lg-auto"><button (click)="startQuiz(quiz)" class="btn btn-primary" routerLink="/patient/{{patient.id}}/play-quiz/{{quiz.id}}">Jouer</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

