<div id="success" *ngIf="patient !== undefined && quiz !== undefined">
  <div class="row mr-0 ml-0 mt-5">
    <h1 class="col-lg-12 text-center mt-3 mb-3 ">Félicitations vous avez terminé le quiz : {{quiz.name}}</h1>
  </div>
  <div class="row justify-content-center mb-4 mr-0 ml-0" style="height: 400px">
    <img src="https://www.stickpng.com/assets/images/585fc598cb11b227491c35a4.png" alt="Image de fin" class="h-100 col-lg-8 img-fluid">
  </div>
  <div class="row justify-content-center mb-2 mr-0 ml-0">
    <button type="submit" class="btn btn-primary mr-1" routerLink="/patient/{{patient.id}}/play-quiz/{{quiz.id}}">Recommencer</button>
    <button class="btn btn-success" routerLink="/patient-space/{{patient.id}}">Terminer</button>
  </div>
</div>
