<div  *ngIf="patient !== undefined">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <h1 id="recup" class="col-lg-3">{{patient.name}} {{patient.surname}}</h1>
        <button class="btn btn-outline-dark col-lg-2 offset-7" routerLink="/patient-profile/{{patient.id}}">Retour Patient</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div *ngIf="patient.urlImg.length > 0">
            <div class="col-lg-12 mb-lg-2"><img src="{{patient.urlImg}}" alt="Image patient" class="img-thumbnail"></div>
          </div>
        </div>
        <div class="col-lg-8 text-center">
          <div class="card m-3">
            <div class="card-body">
              <div>Âge : {{getAge(patient)}} ans</div>
              <div>Sexe : {{patient.sexe}}</div>
              <div>Personnalité : {{patient.personality}}</div>
              <div>Pathologie : {{patient.pathology}}</div><br>
              <div class="text-center">
                <button [ngStyle]="{'color':'white'}" class="btn btn-primary mr-1" routerLink="/edit-patient/{{patient.id}}">Modifier</button>
                <button [ngStyle]="{'color':'white'}" class="btn btn-secondary" (click) = "openPop()">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
