<div *ngIf="quiz !== undefined && question !== undefined; else ElseT">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <h1 class = "col-lg-6">{{quiz.name}}</h1>
        <button class="btn btn-outline-dark col-lg-2 offset-4" routerLink="/edit-quiz/{{quiz.id}}">Retour</button>
      </div>
    </div>
    <div class="card-body">
      <form class="question-form row" [formGroup]="questionForm">
        <div class="col-lg-4">
          <div class="row mb-2">
            <h2>Créer une nouvelle question</h2>
          </div>
          <div class="row mb-2">
            <label for="label">Titre</label>
            <input class="form-control" type="text" id="label" [formControlName]="'label'" required>
          </div>
          <div class="row mb-2">
            <label for="urlImgQ">URL de l'image</label>
            <input class="form-control" type="text" id="urlImgQ" [formControlName]="'urlImgQ'">
          </div>
          <div class="row mb-2">
            <div class="col">
              <button type="submit" class="btn btn-success" (click)="updateQuestion()">Modifier</button>
            </div>
            <div class="col">
              <button class="btn btn-primary" (click)="addAnswer()">Ajouter une réponse</button>
            </div>
          </div>
          <div id="need" class="row mt-3 ml-2" style="color: red; visibility: hidden; font-size: 17px">*Il est nécessaire d'avoir au moins 1 réponse juste</div>
        </div>
        <div class="answer col-lg-3 ml-3" [formArrayName]="'answers'" *ngFor="let address of answers.controls; let i = index">
          <div class="answer-form" [formGroupName]="i">
            <div class="row mb-2">
              <h2>Réponse {{i+1}}</h2>
            </div>
            <div class="row mb-2">
              <label>Answer</label>
              <input type="text" class="form-control" [formControlName]="'value'" required>
            </div>
            <div class="row form-check mb-2">
              <input class="form-check-input" type="checkbox"  [formControlName]="'isCorrect'">
              <label class="form-check-label">Correct</label>
            </div>
            <div class="row">
              <label for="urlImg">URL de l'image</label>
              <input class="form-control" type="text" id="urlImg" [formControlName]="'urlImg'">
            </div>
            <div class="row mt-2 justify-content-center">
              <button class="btn btn-danger" (click)="openPop(answers, i)">Supprimer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #ElseT>
  Bonjour
</ng-template>
